@use "@/styles/_variables" as *;

.wizard-loading {
  padding: $spacer * 20 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.success-icon {
  margin-bottom: $spacer * 4;
}
