@use "@/styles/_variables" as *;

.wizard-step-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: flex-start;

    > * {
      flex: 0 1 calc(25% - 1rem);
    }
  }
}

.wizard-step-information {
  margin-bottom: $spacer * 5;
  label {
    display: block;
    font-weight: $font-weight-semibold;
    margin-bottom: $spacer;
  }

  input,
  textarea {
    width: 100%;
  }
}

.error-msg {
  color: $error-color;
  font-size: $spacer * 3;
  margin-top: 2px;
}

.wizard-step-information:has(.error-msg) {
  margin-bottom: 0;
}
